body, #root {
  overflow-x: hidden;
}
.App {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 1em 0 ;
  overflow-x: hidden;

  .list {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

    .list-item {
      width: 100%;
      max-width: 1260px;
      margin: 0 auto;
      display: grid;
      color: #000;
      text-decoration: none;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 1px solid #a1a1a1;

      .col {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        min-width: 1px;

        &:last-child {
          width: max-content;
          text-align: center;
          margin: 0 auto;

          span {
            margin: 0 auto;
          }
        }

        .item-title {
          font-weight: 500;
          white-space: nowrap; 
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .item-subtitle {
          font-size: 13px;
          color: #a1a1a1;
        }

        .item-status {
          color: #fff;
          width: 120px;
          text-align: center;
          padding: 2px 5px;
          border-radius: 4px;

          &.new {
            background-color: red;
          }

          &.declined {
            background-color: black;
          }
          &.started {
            background-color: blue;
          }
          &.assigned_to {
            background-color: orange;
          }
          &.completed {
            background-color: green;
          }

        }
      }

      .list-title {
        color: #a1a1a1;
        font-weight: 400;
        padding: 10px;

        &:last-child {
          text-align: center;
        }
      }
    }
  }

  .pagination-wrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #a1a1a1;
    font-weight: 500;
    margin: 0 auto;
    padding: 1em;
    height: 30px;

    &>span {
      margin: 0 10px;
    }

    .page-selector {
      border: 1px solid #a1a1a1;
      border-radius: 4px;
      height: 100%;
      display: flex;
      margin: 0 auto; 
      cursor: pointer;

      span {
        padding:5px 10px;

        &:nth-child(3){
          padding: 5px 25px;
        }

        &:not(:last-child){
          border-right: 1px solid #a1a1a1;
        }

        &.active {
          color: blue;
        }
      }
    }

    select {
      border: 1px solid #a1a1a1;
      padding: 5px 10px;
      border-radius: 4px;
      color: #a1a1a1;
    }
  }
}

@media (max-width: 500px) {
   .App {
     .list {
       .list-item {
        
         .col {
           padding: 0.5rem;

           .item-status{
             width: 80px;
             font-size: 11px;
           }
         }
       }
     }
   } 
}
