.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .grid {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, auto);


    .grid-title {
      color: #a1a1a1;
      font-weight: 400;
      border-bottom: 1px solid #a1a1a1;
      padding: 10px;
    }
  }
}
